<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="order-summary" class="max-w-screen-xl">
        <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 mb-3">
            <p class="text-xl font-semibold text-gray-900 dark:text-white">Resumo do pedido</p>  <!-- Order summary -->

            <div class="space-y-4">
                <div class="space-y-2">
                    <dl class="flex items-center justify-between gap-4">
                        <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Total dos produtos</dt>
                        <dd  th:text="'R$'+${cart.totalValue}" id="total-price-products" class="text-base font-medium text-gray-900 dark:text-white"></dd>
                    </dl>

<!--                    <dl class="flex items-center justify-between gap-4">-->
<!--                        <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Savings</dt>-->
<!--                        <dd class="text-base font-medium text-green-600">-$299.00</dd>-->
<!--                    </dl>-->

<!--                    <dl class="flex items-center justify-between gap-4">-->
<!--                        <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Store Pickup</dt>-->
<!--                        <dd class="text-base font-medium text-gray-900 dark:text-white">$99</dd>-->
<!--                    </dl>-->

<!--                    <dl class="flex items-center justify-between gap-4">-->
<!--                        <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Tax</dt>-->
<!--                        <dd class="text-base font-medium text-gray-900 dark:text-white">$799</dd>-->
<!--                    </dl>-->
                </div>

                <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                    <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                    <dd th:text="'R$'+${cart.totalValue}" id="total-cart-value" class="text-base font-bold text-gray-900 dark:text-white"></dd>
                </dl>
            </div>

            <a th:href="@{/buy/checkout}" id="proceed-checkout" class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Finalizar compra</a>

            <div class="flex items-center justify-center gap-2">
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400"> ou </span>
                <a th:href="@{/}" title="" id="continue-shopping" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline dark:text-primary-500">
                    Continue Adicionando
                    <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 mb-3">
            <form class="space-y-4">
                <div>
                    <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Você tem voucher ou vale-presente? </label> <!--  Do you have a voucher or gift card? -->
                    <input type="text" id="voucher" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="" required />
                </div>
                <button type="submit" class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Aplicar</button>
            </form>
        </div>
    </div>
</body>
</html>